
$grid: 15px;

$radius-small: 3px;

$margin: $grid;
$padding: $grid;

$border-size: 1px;
$border-size-big: 2px;

$font-size-0:10px;
$font-size-1:12px;
$font-size-2:14px;
$font-size-3:16px;
$font-size-4:18px;
$font-size-5:20px;
$font-size-6:22px;
$font-size-7:24px;
$font-size-8:34px;
$font-size-9:36px;
$font-size-10:50px;

$line-height: 1.5;
