/* -------------------------- *
* GENERAL
* -------------------------- */

$font: 'Open Sans', sans-serif;
$font-roboto-monospace: 'Roboto Mono', monospace;

$line-height: 1.42857143;

$radius: 5px;

$color-white: #fff;
$color-black: #000;
$color-main: #0a1828;
$color-sub: #04bec4;
$color-action: #f5a01d;

/* BASE */
$color-base-dark: #627d8e;
$color-base-semidark: #acbec9;
$color-base: #d3dee5;
$color-base-semilight: #e8eff4;
$color-base-light: #f7fafc;

/* STATUS */
$color-success: $color-sub;
$color-pending: #ffab07;
$color-error: #ff0764;

/* Fonts */
$color-font: $color-base-dark;
$color-font-light: $color-base-semidark;
$color-font-white: $color-white;
$color-font-main: $color-main;
$color-headline: $color-font;
$color-subline: $color-font;
$color-text-link: $color-sub;

/* Font weights*/
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;

/* GENERAL */
$color-background: $color-base-light;
$color-background-wizard: $color-main;
$color-background-white: $color-white;
$color-border: $color-base-semilight;
$color-link: $color-sub;

/* BOX */
$color-box-headline: $color-sub;
$color-box-headline-icon: $color-sub;
$color-box-background: $color-white;
$color-box-border: $color-border;
$color-box-foter-background: $color-base-semilight;

/* Screen Sizes */
$mobile-low-width: 460px;
$mobile-width: 768px;
$mobile-landscape-width: 990px;
$tablet-width: 1200px;
$desktop-width: 1440px;

/* -------------------------- *
* COMPONENTS
* -------------------------- */

/* HEADER */
$color-header-background: $color-main;
$color-header-nav: $color-white;
$color-header-nav-active: $color-sub;
$color-header-nav-mobile: $color-font;
$color-header-investorid: $color-white;
$color-header-icon: $color-white;
$color-header-icon-active: $color-sub;
$color-header-toggle: $color-white;
$color-header-toggle-active: $color-sub;
$color-header-collapsed-background: $color-white;
$brand-width: auto;
$brand-height: 30px;
$brand-margin: 20px 0;

/* NAVIGATION */
$color-subheader-background: $color-white;
$color-nav-item: $color-font;
$color-nav-item-active: $color-action;
$color-nav-item-mobile-active: $color-base-light;
$color-nav-tokens: $color-main;

/* NOTIFICATION */
$color-notification-banner-background: $color-action;
$color-notification-banner-icon: $color-white;
$color-notification-banner-headline: $color-white;
$color-notification-banner-text: $color-white;

/* ANNOUNCEMENT */
$announcement-background-image: url('../../img/dummy-announcement-background.jpg') no-repeat center bottom;
$color-announcement-background: $color-sub;
$color-announcement-background-white: $color-white;
$color-announcement-font: $color-white;
$color-announcement-font-dark: $color-base-dark;
$color-announcement-font-semidark: $color-base-semidark;

/* DOWNLOADS */
$color-downloads-icon: $color-action;
$color-downloads-text: $color-font;

/* WALLETS */
$color-wallets-headline: $color-font-light;
$color-wallets-font: $color-font;
$color-wallets-icon: $color-font;

/* TOKENS */
$color-tokens-font: $color-font;
$color-tokens-filter-background: $color-base-light;
$color-tokens-paging: $color-sub;
$color-tokens-font-empty-table: $color-base-semidark;
$color-tokens-background-semilight: $color-base-semilight;

/* CONTACT */
$color-quickcontact-background: $color-white;
$color-quickcontact-button-background: $color-white;
$color-quickcontact-button-background-active: $color-sub;
$color-quickcontact-button-font: $color-font;
$color-quickcontact-button-font-active: $color-white;
$color-quickcontact-button-border: $color-base-semilight;
$color-quickcontact-button-icon: $color-base-semilight;

/* KYC */
$kyc-wizard-background: url('../../img/dummy-kyc-wizard-background.jpg') no-repeat center bottom;

/* FOOTER */
$color-footer-background: $color-main;
$color-footer-nav: $color-white;
$color-footer-copy: $color-white;


/* -------------------------- *
* BUTTONS
* -------------------------- */

/* DEFAULT */
$color-button: $color-white;
$color-button-font: $color-font;

/* MAIN */
$color-button-main: $color-sub;
$color-button-main-font: $color-white;

/* ACTION */
$color-button-action: $color-action;
$color-button-action-font: $color-white;

/*DISABLED */
$color-button-disabled: $color-base-semidark;
$color-button-action-font: $color-white;

/* -------------------------- *
* FORM
* -------------------------- */

$color-input-border: $color-border;
$color-input-border-focus: $color-sub;
$color-form-footer-background: $color-base-semilight;
